@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.task-label {
  margin: 5% 0px;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-attachment: fixed;
}

.text-bold {
  font-weight: 600;
}
.App {
  background-image: url(images/bg-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
